:root {
    --primary-color: #008080;
    --secondary-color: #005757;
    --highlight-color: #74ebd5;
    --light-color: #ffffff;
    --text-color: #333;
    --hover-text-color: #ffefd5;
}

body {
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

html {
    height: 100%;
}

.container {
    text-align: center;
    background-color: var(--light-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

h1 {
    color: var(--text-color);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.table {
    background-color: var(--light-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.table thead {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

.table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table tbody tr:nth-child(even) {
    background-color: var(--light-color);
}

.table tbody tr:hover {
    background-color: #e0f7fa;
    cursor: pointer;
}

.table td {
    color: #555;
}

.navbar {
    background: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand, .nav-link {
    color: var(--light-color) !important;
    font-size: 1.1rem;
}

.nav-link:hover, .navbar-brand:hover {
    color: var(--hover-text-color) !important;
}

.nav-link.active {
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: underline;
    color: var(--hover-text-color) !important;
}

.btn {
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
    background-color: var(--primary-color);
    border: none;
    color: var(--light-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
}

.btn-secondary:hover {
    background-color: var(--secondary-color);
    color: var(--hover-text-color);
}

.dataTables_wrapper .dataTables_filter input {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--highlight-color);
    font-size: 1rem;
}
