:root {
    --primary-color: #008080;
    --secondary-color: #005757;
    --highlight-color: #74ebd5;
    --light-color: #ffffff;
    --text-color: #333;
    --hover-text-color: #ffefd5;
}

body {
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

html {
    height: 100%;
}

.container {
    text-align: center;
    background-color: var(--light-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

h1 {
    color: var(--text-color);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.table {
    background-color: var(--light-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.table thead {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

.table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table tbody tr:nth-child(even) {
    background-color: var(--light-color);
}

.table tbody tr:hover {
    background-color: #e0f7fa;
    cursor: pointer;
}

.table td {
    color: #555;
}

.dataTables_wrapper .dataTables_filter input {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--highlight-color);
    font-size: 1rem;
    transition: all 0.3s ease;
}

.dataTables_filter input:focus {
    border-color: var(--primary-color);
    box-shadow: 0px 0px 5px var(--highlight-color);
}

.dataTables_filter {
    margin-bottom: 20px;
}

.dataTables_filter label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dataTables_wrapper .dataTables_paginate {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    color: #333;
    transition: all 0.3s ease;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: var(--highlight-color);
    color: var(--light-color);
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

@media (max-width: 768px) {
    .table {
        font-size: 0.9rem;
    }
    .dataTables_filter input {
        width: 100%;
    }
}