.navbar {
    background: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand, .nav-link {
    color: var(--light-color) !important;
    font-size: 1.1rem;
}

.nav-link:hover, .navbar-brand:hover {
    color: var(--hover-text-color) !important;
}

.nav-link.active {
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: underline;
    color: var(--hover-text-color) !important;
}