.navbar-brand {
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-link {
    color: #333;
    font-size: 1rem;
    margin: 0 5px;
}

.nav-link:hover, .navbar-brand:hover {
    color: #17a2b8;
}

.nav-link.active {
    background-color: #17a2b8;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: underline;
    color: #ffffff !important;
}

.logout-button {
    color: #fff;
    background-color: #dd4f5d;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #c72a3a;
    color: #fff;
}